/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #0f172a;
  padding: 20px;
  color: white;
}

.shuttle-grid {
  max-width: 1200px;
  margin: 20px auto;
}

.shuttle-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}
